<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="./css/home.css">
</head>
<body>
    <div class="flex-container">
        <main>
            <div id="title">
                <h1>Welcome to the Video Game Database App!</h1>
            </div>
            <a href="/index"><button class="link">Game List</button></a>
        </main>
        <div class="image-container">
            <img src="../images/VideoGameDB.png" width="500px" height="500px"/>
        </div>
    </div>
</body>
</html>