<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>
    <nav>
        <% if(statusComplete){ %>
            <a href="/index">All Games</a>
            <a href="/index?statusComplete=true">Completed Games</a>
       <% }else if(statusNotComplete){ %>
            <a href="/index">All Games</a>
            <a href="/index?statusNotComplete=true">In Progress</a>
      <% }else { %>
            <a href="/index?statusComplete=true">Completed Games</a>
            <a href="/index?statusNotComplete=true">In Progress</a>
     <% } %>
    </nav>
    <h1>Game List</h1>
    <ul>
        <% videoGameList.forEach(videoGame => { %>
            <li><a href="/index/<%= videoGame._id %>"><%= videoGame.title %></a></li>
        <% }) %>
    </ul>
    <a href="/index/new"><button>Add Game</button></a>
</body>
</html>