@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Jersey 15", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3rem;
}